
@{
    ViewBag.Title = "ApplePie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container" style="margin-top:45px">
        <div class="mainContent">
            <div class="row">
                <div class="col-md-3">
                    <aside class="leftmenu">
                        <a href="index.html"><img src="~/Images/bethanylogo.png" /></a>
                    </aside>
                </div>
          
            <div class="col-md-9">
                <h3>Apple Pie</h3>
                <div class="card" style="margin-bottom:15px">
                    <img class="card-img-top" src="~/Images/products/applepie.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row card-header">
                            <span class="card-title">
                                <p class="pie-header">Apple Pie</p>
                            </span>
                            <span class="card-value">12.75$</span>
                        </div>
                        <p class="card-text">Our famous apple pies!</p>
                        <p>I’m not entirely sure. But I do know that I like apples. And more than apples, I like pie. I’ve yet to find a flaky, succulent circle of happiness that I wasn’t eager to shovel into my mouth; from rhubarb to arguably the best pie on earth — chicken pot pie. So, for this week’s taste test, D Magazine staffers tried a handful of apple pies from grocery stores in town. I didn’t think it would be fair to include luscious, gourmet pies — I’m talking to you Emporium — in the ranking.  The pies varied in texture, flavor and price</p>
                        <a href="#" class="btn add-cart">Add to cart</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
