
@{
    ViewBag.Title = "PumpkinPie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PumpkinPie</h2>
<section>
    <div class="container" style="margin-top:-22px">
        <div class="mainContent">
            <div class="row">
                <div class="col-md-3">
                    <aside class="leftmenu">
                        <a href="index.html"><img src="~/Images/bethanylogo.png" /></a>
                    </aside>
                </div>

                <div class="col-md-9">
                    <h3>Pumpkin Pie</h3>
                    <div class="card" style="margin-bottom:15px">
                        <img class="card-img-top" src="~/Images/products/pumpkinpiesmall.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="row card-header">
                                <span class="card-title">
                                    <p class="pie-header">Pumpkin Pie</p>
                                </span>
                                <span class="card-value">12.75$</span>
                            </div>
                            <p class="card-text">Ok, pumpkin pie topped with a huge serving a whipped cream.  Today’s recipe is my absolute favorite recipe for homemade pumpkin pie.  One bite and you’ll be wondering why you’ve never made your own pumpkin pie at home. </p>
                            <a href="#" class="btn add-cart">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
