
@{
    ViewBag.Title = "RhubarbPie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RhubarbPie</h2>
<section>
    <div class="container" style="margin-top:-22px">
        <div class="mainContent">
            <div class="row">
                <div class="col-md-3">
                    <aside class="leftmenu">
                        <a href="index.html"><img src="~/Images/bethanylogo.png" /></a>
                    </aside>
                </div>

                <div class="col-md-9">
                    <h3>Ruubarb Pie</h3>
                    <div class="card" style="margin-bottom:15px">
                        <img class="card-img-top" src="~/Images/products/rhubarbpiesmall.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="row card-header">
                                <span class="card-title">
                                    <p class="pie-header">RhubardPie</p>
                                </span>
                                <span class="card-value">40.75$</span>
                            </div>
                            <p class="card-text">Our famous apple pies!</p>
                            <p>Delicious succulent with the clear juicy flavors of strawberry and rhubarb. I like that this recipe is the simplest of these pies. I skipped the lemon juice because it seemed plenty tart to me - but maybe this is for color. </p>
                            <a href="#" class="btn add-cart">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
