body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    background-image: url('../images/pattern.png');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.mainContent ul {
    padding-inline-start: 2px;
    margin-right: 1.5rem;
}

    .mainContent ul > a > li {
        background-color: #cf4522;
        color: #fff;
        list-style: none;
        padding: 14px 25px;
        display: block;
        cursor: pointer;
        margin-bottom: 2px;
    }

    .mainContent ul > a > li:hover {
            background-color: #B43110;
     }

    .mainContent ul > a {
        text-decoration: none;
        color: #fff;
    }


.mainContent {
   
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.leftmenu {
    float: left;
    /* width: 30%; */
    margin-bottom: 20px; 
}
.cards-container {
    margin-top: 10px;
    margin-bottom: 35px;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-img, .card-img-bottom, .card-img-top {
    flex-shrink: 0;
    width: 100% !important;
}

.card-title {
    margin-bottom: .75rem;
}
.card-text {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    margin-left: -15px;
    margin-right: -15px;
}

.add-cart {
    color: #fff;
    background-color: red;
    border-color: red;
    margin-top: 10px;
    margin-left: -4px !important;
}

.pie-header {
    text-decoration: none !important;
    color: #007bff !important;
    text-align:left;
}
.card-header {
    padding-right: 10px;
    padding-left: 10px;
}
.card-img-top{
    width:300px;
}
.card-value{
    float:right;
}

.pie-label {
    margin-top: 15px;
    font-weight: 700;
    font-size: 20px;
}
